/node_modules
/public/hot
/public/storage
/public/certificate
/public/uploads
/public/database-backup

/vendor

.env
.env.backup

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
phpcs.xml
modules_statuses.json
code-generator

storage/*.key
/storage/*.key

/storage/app/*
!/storage/app/.gitignore

/storage/framework/cache/*
!/storage/framework/cache/.gitignore

/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore

/storage/framework/views/*
!/storage/framework/views/.gitignore